appdirs==1.4.4
attrs==22.2.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==2.0.12
fs==2.4.16
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
iniconfig==1.1.1
mockito==1.4.0
openai==0.8.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.1.1
pytest==7.0.1
requests==2.27.1
responses==0.17.0
six==1.16.0
soupsieve==2.3.2.post1
tomli==1.2.3
tqdm==4.64.1
typing_extensions==4.8.0
urllib3==1.26.16
zipp==3.6.0
